body{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.goal-section{
    display: flex;
    margin: 100px 130px;
    justify-content: space-around;
}
.intro-div{
    width: 50%;
    margin-right: 200px;
}
.img-div img{
    width: 80%;
}
.top-heading{
    font-size: 50px;
    border-left: 5px solid salmon;
    padding-left: 30px;
}
.color-span{
    color: orange;
}
p{
    font-size: 20px;
    font-weight: 600;
}
.section-button{
    width: 150px;
    height: 45px;
    background-color: salmon;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px;
}
.mission-section{
    margin: 100px 40px;
}
.mission-img{
    width: 40%;
}
.wrap-div{
    display: flex;
    justify-content: center;
}
.mission-heading{
    text-align: center;
    font-size: 50px;
}
.mission-div{
    width: 22%;
}
#mission-id-left{
    background-color: burlywood;
    border-radius: 20px;
    padding: 30px;
}
#mission-id-middle{
    background-color: darkseagreen ;
    border-radius: 20px;
    margin: 0 40px;
    padding: 30px;
}
#mission-id-right{
    background-color: violet ;
    border-radius: 20px;
    padding: 30px;
}
h4{
    font-size: 25px;
    margin: 20px 0;
}
.develop-section{
    margin: 100px 40px;
    display: flex;
    background-image: url(./images/shapes/shape-1.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 0 40%;
}
.develop-img{
    width: 40%;
    margin-left: 20px;
}
.develop-img img{
    width: 60%;
    margin-left: 80px;
    border-radius: 10%;
}
.develop-article{
    width: 60%;
}
#develop-button{
    width: 200px;
}
h2{
    font-size: 45px;
    margin: 0;
}
#global-id{
    margin-left: 100px;
    margin-right: 50px;
}
.global-img{
    width:40%;
}

.global-img img{
   width: 80%;
   margin-left: 40px 50px;
   border-radius: 10%;
}
.global-section{
    display: flex;
    margin: 100px 40px;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 100% 80%;
}
.contact-section-wrap{
    display: flex;
    justify-content: space-around;
}
.contact-section h3{
    color: #c5b0b0;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}
.contact-section h4{
    color: #ab9595;
}
.contact-left{
    width: 30%;
}
.contact-middle{
    width: 25%;
}

.contact-right{
    width: 25%;
}







.footer{
    width: 100%;
    height: 100px;
    background-color: #1c1c35;
    text-align: center;
    padding: 25px 0 50px;
}
.footer h1{
    font-style: italic;
    color: white;
}
.footer p{
    font-weight: 100;
    color: white;
}
.footer span{
    color: salmon;
}
.contact-section{
    width: 100%;
    height: 400px;
    background-color:#357070 ;
}
#span-id{
    margin-left: 15px;
}